<% @posts.each do |post| %>
  <div class="mt-3 mb-5 shadow rounded">
    <div class="card border-success">
      <div class="h6 card-header bg-success text-white">
        <h5 class="float-start">
          <% if user_signed_in? %>
            <%= post.user.nick %>
          <% else %>
            <%= "Anonymous" %>
          <% end%>
        </h5>
        <% if user_signed_in? %>
          <% if post.user.id == current_user.id %>
            <div class="float-end text">
              <%= link_to edit_post_path(post) do %>
                <i class="material-icons text-white">&#xe150;</i>
              <% end %>
              <%= link_to post, :method => :delete do %>
                <i class="material-icons text-white">&#xe14c;</i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.body %></p>
      </div>
    </div>
  </div>
<% end %>
